@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600&display=swap');

* {
  box-sizing: border-box;
}

html {
  color: white;
  font-size: 1em;
  line-height: 1.4;
  background: #1494ff;
  background-image: url('../img/ownables-bg.jpg');
/*  background-size: 100%;*/
  background-size: 1920px;
  background-position: top center;
  background-repeat: no-repeat;
  font-family:'Montserrat', sans-serif;
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

img,
iframe {
  max-width: 100%;
}

dialog{
  position: relative;
}


.logo {
  width: 394px;
}

.button {
  border: 2px solid white;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  transition: 300ms;
}

.button:hover {
  background: white;
  color: #1CAAFF;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 125px;
}

.header__actions {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.header__actions a {
  color: white;
  text-decoration: none;
}

.header__actions span {
  font-weight: 300;
  font-size: 20px;
  margin-right: 5px;
  transform: translateY(-5px);
  display: block;
}

.header__actions__social {
  display: flex;
  align-items: center;
}

.header__actions__social a {
  margin: 0 10px;
}

.header__actions__social img {
  width: 35px;
  transition: transform 300ms;
}

.header__actions__social a:hover img {
  transform: scale(1.1);
}

h1 {
  font-size: 83px;
  line-height: 1.2;
  font-weight: 200;
  margin: 0 0 20px;
}

h1 span {
  font-weight: 400;
  display: block;
}

.main h2 {
  text-align: center;
  color: #00FFFF;
  text-shadow: 0 0 8px #00FFFF;
  font-weight: 300;
  font-size: 45px;
  margin: 50px 0 30px;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 1120px;
  width: 100%;
  margin: 20px auto 60px;
  padding: 0 20px;
}

.button {
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: 500;
}

.click-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.click-row__item {
  flex: 0 0 calc(33.33% - 20px);
  transition: 300ms;
}

.sdk-section {
  display: flex;
}

.sdk-section__text {
  flex: 0 0 60%;
  padding-right: 20px;
}

.sdk-section__text p {
  font-weight: 300;
  font-size: 27px;
  margin: 0 0 20px;
}

.sdk-section__text .button + .button {
  margin-top: 10px;
}

.sdk-section__video {
  flex: 0 0 40%;
}

.button2 {
  border: 2px solid #3EAAFE;
  float: right;
  max-width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: 300;
  border-radius: 12px;
  background-color: #3EAAFE;
  color: white;
  padding: 0 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  display: none;
}

.overlay.visible {
  display: block;
}

.contact {
  max-width: 90%;
  width: 90%;
  max-width: 500px;
  overflow: auto;
  background: white;
  padding: 80px 50px 50px;
  margin: 0 auto;
  border-radius: 20px;
  color: #3EAAFE;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.contact h1 {
  font-size: 50px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0 0 20px
}

.contact input, 
.contact textarea {
  padding-left: 20px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #3EAAFE;
  border-radius: 15px;
  font-size: 20px;
  background-color: #edf0f3;
}

.contact input::placeholder {
  position: absolute;
  top: 50%;
  left: 20px; 
  transform: translateY(-50%);
}

.contact textarea::placeholder {
  position: absolute;
  left: 20px;
}

.contact__close {
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #3EAAFE;
  text-decoration: none;
  line-height: 0;
  background-color: white;
  box-shadow: 0 0 5px black;
  transform: rotate(45deg);
}

.modal-wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  overflow: auto;
  padding: 100px;
}

.modal-wrap.visible {
  display: block;
}

.modal {
  display: none;
  background: #7661FF;
  padding: 40px 50px 50px;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.modal.visible {
  display: flex;
  flex-direction: column;
}

.modal__close {
  position: absolute;
  top: 50px;
  right: 25px;
  transform: rotate(45deg);
  font-size: 65px;
  color: white;
  text-decoration: none;
  line-height: 0;
}

.modal h2 {
  color: #00FFFF;
  font-weight: 300;
  font-size: 55px;
  margin: 0 0 5px;
}

.modal h3 {
  font-weight: 300;
  font-size: 40px;
  margin: 0 0 25px;
}

.modal p,
.modal li {
  font-size: 25px;
  font-weight: 300;
  max-width: 50%;
}

.modal__image {
  position: absolute;
  right: 50px;
  top: 200px;
  max-width: 40%;
}

@media (hover: hover) {
  .click-row__item:hover {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 1260px) {
  .header {
    padding: 32px 50px;
  }
}

@media screen and (max-width: 1180px) {
  .header {
    max-width: 1120px;
    width: 100%;
    padding: 32px 20px;
    margin: 0 auto;
  }

  .modal__image {
    position: static;
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
  }

  .modal p,
  .modal li {
    max-width: 100%;
  }
}

@media screen and (max-width: 900px) {
  h1 {
    text-align: center;
    font-size: 68px;
  }

  h1 + .button {
    margin: 0 auto;
  }

  .sdk-section {
    flex-direction: column-reverse;
    align-items: center;
  }

  .sdk-section__text {
    text-align: center;
    margin-top: 15px;
    padding: 0;
  }

  .sdk-section__text .button {
    margin: 0 auto;
  }

  .modal-wrap {
    padding: 50px;
  }
}

@media screen and (max-width: 767px) {
  .header__actions span {
    display: none;
  }

  .tokenomics-section {
    font-size: 14px;
    margin: 20px;
 }

  .how-it-works-text {
    width: 100%;
    word-wrap: break-word;
  }

}

@media screen and (max-width: 680px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header__actions__social {
    margin-left: 0;
  }

  .logo {
    margin-bottom: 20px;
  }

  h1 {
    font-size: 48px;
  }

  .main h2 {
    font-size: 30px;
    margin-top: 25px;
  }

  .button {
    font-size: 25px;
    width: 220px;
  }

  h1 + a + h2 {
    margin-top: 50px;
  }

  .click-row {
    flex-direction: column;    
  }

  .click-row__item {
    margin-bottom: 20px;
    width: 300px;
    max-width: 100%;
  }

  .sdk-section__text p {
    font-size: 22px;
  }

  .modal h2 {
    font-size: 40px;
  }

  .modal h3 {
    font-size: 30px;
  }

  .modal p,
  .modal li {
    font-size: 20px;
  }
}

@media screen and (max-width: 460px) {
  .contact input, .contact textarea {
    width: 100%;
    font-size: 14px;
  }

  .button2 {
    width: 100%;
    font-size: 20px;
    padding: auto;
    height: 50px;
  }

  .logo {
    width: 100%;
  }

  h1 {
    font-size: 38px;
  }

  .contact h1{
    font-size: 30px;
  }

  .contact__close {
    top: 10px;
    right: 10px;
  }

  .modal-wrap {
    padding: 20px;
  }

  .modal {
    padding: 30px;
  }

  .modal__close {
    top: 30px;
    right: 10px;
  }
}